:root {
  --white: #fff;
  --black: #000;
  --primary-color: #eee;
  --secondry-color: #000;
  --logo-color: #000;
  --font-color-primary:#000;
  --font-color-secondry:#fff;

  // font-size
  --font-size-xs: 0.5rem;
  --font-size-s: 1rem;
  --font-size-m: 1.15rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;
  --font-size-4rem: 4rem;
}
